<link rel="stylesheet" href="/css/style.css">

<div class = "wrapper">
  <h1>Your Tweet</h1>
  <p>I love tweeting!</p>
  <form class = "form-background" action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
  		<br><br>
  		<fieldset>
  		    <legend>Tweet:</legend>
  			<textarea name="tweet[content]" rows="10" cols="30"></textarea>
  		</fieldset>
  	    <br></br>

  	  <input type="submit" value="Submit">
  	</form>

</div>
